<h1>Checkout and Discounts</h1>
<br>
<div class="row">
    <div class="col-md-6 col-sm-6">

<br>
<br>
<span>1. </span>
<span style="font-weight: bold; font-size: medium;">$40</span><br>
<img src="https://www.bajajallianz.com/content/dam/bagic/home-insurance/My-Home-Insurance.png" width="50px" height="50px" style="float: left;">
<span >Home Insurance <br>(Beneficial Plan) </span>
<br><br><br>


 

</div><div class="vertical"></div>
<div class="col-md-6 col-sm-6">
    <h3 style="text-align: center;">Summary</h3>
<hr>
    <div class="row">

        <div class="col-md-7 col-sm-7">
            <label>Policy</label><br>
            <label>1<sup>st</sup> Premium</label><br>
            <label>Tax</label>

        </div>
        <div class="col-md-3 col-sm-3">
            <label>x 1</label><br>
            <label>x 1</label><br>
            <label>x 1</label>

        </div>
        <div class="col-md-1 col-sm-1">
            <label>$40</label> <br>
            <label>$4</label> <br>
            <label>$4</label> <br>

        </div>
 

    </div>
    <hr>
    
    <label>Total</label>
    <label style="float: right;">$48</label>

    


</div>

</div>
<hr>
<br><br><br>

<div class="row">

<div class="col-md-8 col-sm-8">
<label>Do you want add Vehicle Insurance<br> <span class="highon">(get 5% off on premium)</span></label><br>
<ngx-switch 
            [onColor]="green"
            [offColor]="red"
            [onText]="yes"
            [offText]="no" >
</ngx-switch>

</div>

<div class="col-md-4 col-sm-4">

   <span class="highoff">Promo Code?</span><br>
   
    <input type="text"> <input type="button" value="Apply"><br>
</div>

</div>
<hr>



<h3 style="text-align: center;">Payment Mode</h3>

<div class="payment">
    <div class="card"><input type="radio" name="payment"> PayPal<br></div>
    <div class="card"><input type="radio"  name="payment"> DebitCard<br></div>
    <div class="card"> <input type="radio"  name="payment"> CreditCard<br></div>
   
</div>
<br>
<br>

<button><span>Continue for Payment</span></button>
