select {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 12px;
    margin-bottom: 20px;
    
    padding: 8px;
}
hr{
  border-top: 3px dotted red;
}
button{
    background-color:  red;
    color: white;
     border-radius: 25px;
     padding: 8px;
     width: 100%;
 }
 
 input[type=checkbox]{
    height: 15px;
    width: 15px;
 }
 
 h1{
     color: crimson;
     text-align: center;
 }

 .container1 {
    width: 100%;
    background-color: #ddd;
    height:10px;
  }
  
  .skills {
    text-align: right;
    color: white;
    font-size: 10px;
  }
  
  .html {width: 70%;  height:10px; background-color: #04AA6D;}