<h1>Other Details</h1>
<br>



<label>Build-In Appliances</label><br>
<input type="checkbox"> Refrigirator<br>
<input type="checkbox"> Microwave/Oven<br>
<input type="checkbox"> Solar Geyzer<br>
<input type="checkbox"> Heating/Cooling System<br><br>
<label>Utilities</label>
<br>
<input type="checkbox"> Bore Well<br>
<input type="checkbox"> Septic Tank<br>
<input type="checkbox"> Public Water<br>
<input type="checkbox"> Public Sewer<br><br>


<label>Garage</label><br>
<select>
    <option value="yes">Yes</option>
    <option value="no">No</option>
    
</select>
<br>

<label>Security System</label>
<br>
<select>
    <option value="yes">Yes</option>
    <option value="no">No</option>
    
</select><br>



<label>Wiring to House</label>
<br>
<select>
    <option value="under">UnderGround</option>
    <option value="over">Overhead</option>
    <option value="other">Other</option>
    
</select><br>

<label>Water/Sport</label><br>
<input type="checkbox"> Swimming Pool<br>
<input type="checkbox"> Water Pond<br>
<input type="checkbox"> Sprinklers<br>

<br>

<br>
<a routerLink="/homedetails">
    <button>
        Back
    </button>
    </a>

    &nbsp; &nbsp;
   <a routerLink="/checkout">
    <button type="submit">
        Continue
    </button>
   </a>