


    <h1>Let's Get Started</h1>
  
    <h4>Simplified Quote</h4>
    <br>
    <p>
      Use this quicker tool for most homeowners quotes. But , if <br>the following scenarios apply, you must finish the quote in Enterprise<br>App. Dont worry--- we'll transfer all entered information.
    </p>
  
    <ul>
      <li>Existing State Farm renters customers with same address.</li>
      <li>More Coverage. <a>Learn More</a></li>
      <li>Existing State Farm renters customers with same address.</li>
    </ul>
  
  <a routerLink="/customer">
  <button>
    Start Simplified Quote
  </button>
  
  </a>
  
  <br><br>
 
  
