


    <h1>Let's Get Started</h1>
  <hr>
    <h4>Simplified Quote</h4>
    <br>
  
    <p >
      Covers all Risk. Simplified Claim Procedure. No Documentation. Online Policy. Buy Now! 
    </p>
 
    <ul>
      <li>Fire & Allied Perils including loss or damage to property due to terrorism and earthquake.</li>
      <li> Aircraft crashes, riot, strike and malicious damage</li>
      <li>More Coverage.</li>
      
    </ul>
  
  <a routerLink="/customer">
  <button>
    Start Simplified Quote
  </button>
  
  </a>
  
  <br><br>
 


