ul{
    padding: 15px;
}

button{
   background-color:  red;
   color: white;
    border-radius: 25px;
    padding: 10px;
}

a{
    color: red;
}

.mainclass{
    align-content: center;
    justify-content: center ;
    display: grid ;
}