
<br>
<div class="row">
    <div class="col-sm-12">
<div class="container1">
    <div class="skills html">50%</div>
  </div>
  </div>
</div>


<h1>Home Structure Details</h1>
<hr>

<label for="address">Complete Address</label><br>
<textarea>
    </textarea>
<br>
    <label for="area">House Area(in Sq.Ft)</label><br>
<input type="text" >
<br>
    <label for="rooms">Total Rooms</label><br>
<input type="number" min="1" >

<br>
<label for="framing">House Framing</label><br>
<select>
    <option value="wood">Wood</option>
    <option value="steel">Steel</option>
    <option value="other">Other</option>
</select>
<br>
<label for="style">House Style</label><br>
<select>
    <option value="onestory">One Story</option>
    <option value="twostory">Two Story</option>
    <option value="threestory">Three Story</option>
    <option value="other">Other</option>
</select>

<br>

<label for="roof">Roofing Style</label><br>
<select>
    <option value="cedar">Cedar Shingles</option>
    <option value="asphalt">Asphalt Shingles</option>
    <option value="Metal">Metal Roofing</option>
    <option value="other">Other</option>
</select><br>
<br>

<div class="row">
    <div class="col-md-6 col-sm-6">
<a routerLink="/detail">
    <button>
        Back
    </button>
    </a>
</div>

    
    <div class="col-md-6 col-sm-6">
   <a routerLink="/otherdetails">
    <button type="submit">
        Continue
    </button>
   </a>
</div>
</div>