input[type=text],input[type=date], input[type=email]{

    border-radius: 12px;
    width:100%;
    margin-bottom: 20px;
    padding: 8px;
    border: 1px solid #ccc;
}

hr{
  border-top: 3px dotted red;
}

button{
    background-color:  red;
    color: white;
     border-radius: 25px;
     padding: 10px;
     width: 100%;
 }
 h1{
    color:crimson;
    text-align: center;
  }
 .container1 {
    width: 100%;
    background-color: #ddd;
    height:10px;
  }
  
  .skills {
    text-align: right;
    color: white;
    font-size: 10px;
  }
  
  .html {width: 30%;  height:10px; background-color: #04AA6D;}