

<br>
<div class="row">
    <div class="col-sm-12">
<div class="container1">
    <div class="skills html">30%</div>
  </div>
  </div>
</div>



<form>
<h1>Customer Details</h1>
<hr>
<br>

<label>First Name</label><br>
<input type="text" placeholder="First Name" class="form-control" name="fname" required>

<label>Last Name</label><br>
<input type="text" placeholder="Last Name" class="form-control" name="lname" required>


<label><b>Mailing Address</b></label>


<input type="text" placeholder="Street 1" class="form-control" name="street1"  required>

<input type="text" placeholder="Street 2" class="form-control" name="street2"  required>

<div class="row">
<div class="col-md-4 col-sm-4">
<label>City</label><br>
<input type="text" placeholder="City" class="form-control" name="city" required>
</div>
<div class="col-md-4 col-sm-4">
<label>State</label><br>
<input type="text" placeholder="State" class="form-control" name="state"  required>
</div>
<div class="col-md-4 col-sm-4">
<label>Zip-Code</label><br>
<input type="text" placeholder="Zip-Code" class="form-control"  name=" zcode " maxlength="6" required>
</div>
<br>
</div>


<label>Date of Birth</label><br>
<input type="date"  [(ngModel)]="age" name="dob" (ngModelChange)="ageCalculate()"required>
<br>
<label>Age</label>&nbsp; &nbsp;<br> 

<input type="text" style="cursor: no-drop;" disabled   name="shage" value="{{showAge}}" required>
<br>

<label>Email ID</label><br>
<input type="email" name="email" class="form-control"  required> 
<br>
<div class="row">
    <div class="col-md-6 col-sm-6">
<a routerLink="/customer">
    <button>
        Back
    </button>
    </a>
</div>

    
    <div class="col-md-6 col-sm-6">
   <a routerLink="/homedetails">
    <button type="submit">
        Continue
    </button>
   </a>
</div>
</div>

</form>