ul{
    padding: 15px;
}
hr{
  border-top: 3px dotted red;
}

 button{
   background-color:  red;
   color: white;
    border-radius: 25px;
    padding: 10px;
     width: 100%;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

input[type=checkbox]{
  width: 18px;
  height: 18px;
}
h1{
  color:crimson;
  text-align: center;
}

.container1 {
  width: 100%;
  background-color: #ddd;
  height: 10px;
}

.skills {
  text-align: right;
  color: white;
  font-size: 10px;
}

.html {width: 10%;  height: 10px; background-color: #04AA6D;}
