
<br><br>
<div class="row">
    <div class="col-sm-12">
<div class="container1">
    <div class="skills html">10%</div>
  </div>
  </div>
</div>

<br>
<h1 style="text-align: center;">Get Customer Consent</h1><br>
<p>Please read the following:</p>
<p>
    In order to determine your eligiblity and/or rate, we'll use <br> information from a customer reporting agency that may include:


</p>
<ul>
    <li>
        credit information on a member in your household
    </li>
    <li>
        Loss history information on all named applications
    </li>
</ul>


<p>Would you like more information?</p>
<p style="font-weight: bold;">Contact our nearest branch or agency</p>

<br>
<br>
<p>
<input type="checkbox" #chckEnable ngModel> &nbsp; I have read the required notification to the customer and understand<br> consumer reports cannot be run before I provide this notification.
</p>
<br>

<a routerLink="/newstart">
<button>
    Back
</button>
</a>
&nbsp; &nbsp;
<a routerLink="/detail">
<button [disabled]="!chckEnable.checked">
    Continue
</button>
</a>